<a href="https://colab.research.google.com/github/ilonayoyoo/100-Days-of-Code-Data-Science/blob/main/5400HW5-yw4113.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/drive")
crunchbase = "/content/drive/MyDrive/crunchbase_odm_orgs.csv"

Mounted at /content/drive

In [3]:
!pip install spark

!pip install pyspark

Collecting spark
  Downloading spark-0.2.1.tar.gz (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.0/41.0 kB 1.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: spark
  Building wheel for spark (setup.py) ... done
  Created wheel for spark: filename=spark-0.2.1-py3-none-any.whl size=58749 sha256=74e0dd42cfb9dc5a990008729dc77b39ca81416a5d69435d544c5e075207f1df
  Stored in directory: /root/.cache/pip/wheels/63/88/77/b4131110ea4094540f7b47c6d62a649807d7e94800da5eab0b
Successfully built spark
Installing collected packages: spark
Successfully installed spark-0.2.1
Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=d0ab4219271a255dcdea36602e421efb27e193508dd277f6be7d7e1e45a7f4a5
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [4]:
import json
import csv
import spark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, regexp_extract, when, reverse, udf
from pyspark.sql.types import BooleanType

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
# Gets or creates a new Spark session
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext
print("Using Apache Spark Version", spark.version)

Using Apache Spark Version 3.5.1

In [6]:
import os, sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [10]:
spark = SparkSession.builder \
    .appName("crunchbase") \
    .getOrCreate()

df = spark.read.csv(crunchbase, header=True)

Q1: Find all companies with the name that is only two words (e.g. : "Goldman Sachs") print the count of such companies and show()only the name and location (city, region, country_code) in the resulting Spark DataFrame

In [16]:
from pyspark.sql.functions import split
from pyspark.sql.functions import size


df1 = df.withColumn("words", split(df.name, " "))
df1 = df1.withColumn("word_count", size(df1.words))
df1_filter = df1.filter(df1["word_count"] == 2)

In [17]:
df1_filter.count()

362534

In [18]:
df1_filter.show()

+--------------------+--------------------+------------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------------------+----------------+----------+------------+--------------------+--------------------+----------+
|                uuid|                name|        type|primary_role|              cb_url|              domain|        homepage_url|            logo_url|        facebook_url|         twitter_url|        linkedin_url|combined_stock_symbols|            city|    region|country_code|   short_description|               words|word_count|
+--------------------+--------------------+------------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------------------+----------------+----------+------------+--------------------+--------------------+----------+
|1bd1698c-cd0f-37b...|         Time Warner|organization|     company|https://www.crunc...|      timewarner.com|http://www.timewa...|https://res.cloud...|https://www.faceb...|https://twitter.c...|https://www.linke...|              nyse:TWX|        New York|  New York|         USA|Time Warner is a ...|      [Time, Warner]|         2|
|30b3efdf-6024-804...|       Goldman Sachs|organization|    investor|https://www.crunc...|    goldmansachs.com|http://www.goldma...|https://res.cloud...|https://www.faceb...|http://twitter.co...|http://www.linked...|               nyse:GS|        New York|  New York|         USA|Goldman Sachs is ...|    [Goldman, Sachs]|         2|
|e867f917-49f4-717...|     Jingle Networks|organization|     company|https://www.crunc...|  jinglenetworks.com|http://jinglenetw...|https://res.cloud...|https://www.faceb...|http://twitter.co...|                NULL|                  NULL|        New York|  New York|         USA|Jingle Networks i...|  [Jingle, Networks]|         2|
|3f2b5885-4257-0d7...|Hearst Communicat...|organization|     company|https://www.crunc...|          hearst.com|http://www.hearst...|https://res.cloud...|https://www.faceb...|https://twitter.c...|https://www.linke...|                  NULL|        New York|  New York|         USA|Hearst is large p...|[Hearst, Communic...|         2|
|98cd9691-c7ca-dd2...|    Ning Interactive|organization|     company|https://www.crunc...|            ning.com|https://www.ning.com|https://res.cloud...|                NULL|https://twitter.c...|https://www.linke...|                  NULL|      Menlo Park|California|         USA|Ning is a SaaS-ba...| [Ning, Interactive]|         2|
|4c8d7754-50b1-a16...| Prosper Marketplace|organization|     company|https://www.crunc...|         prosper.com|http://www.prospe...|https://res.cloud...|http://www.facebo...|http://twitter.co...|http://www.linked...|                  NULL|   San Francisco|California|         USA|Prosper Marketpla...|[Prosper, Marketp...|         2|
|5a80638f-1e6e-bf9...|       Tribune Media|organization|     company|https://www.crunc...|    tribunemedia.com|http://www.tribun...|https://res.cloud...|https://www.faceb...|https://twitter.c...|https://www.linke...|                  NULL|         Chicago|  Illinois|         USA|Tribune Media is ...|    [Tribune, Media]|         2|
|3d02b92f-668f-1a9...| Aggregate Knowledge|organization|     company|https://www.crunc...|aggregateknowledg...|http://www.aggreg...|https://res.cloud...|                NULL|http://twitter.co...|https://www.linke...|                  NULL|       San Mateo|California|         USA|Aggregate Knowled...|[Aggregate, Knowl...|         2|
|74cb3f14-aac0-d2a...|        Zing Systems|organization|     company|https://www.crunc...|            zing.net|     http://zing.net|https://res.cloud...|                NULL|                NULL|                NULL|                  NULL|   Mountain View|California|         USA|Zing Systems enab...|     [Zing, Systems]|         2|
|ff9aad78-dde3-485...|         Amie Street|organization|     company|https://www.crunc...|      amiestreet.com|http://amiestreet...|                NULL|                NULL|                NULL|                NULL|                  NULL|Long Island City|  New York|         USA|Amie Street is a ...|      [Amie, Street]|         2|
|e2a753f1-1247-b2f...|          Legg Mason|organization|    investor|https://www.crunc...|       leggmason.com|http://www.leggma...|https://res.cloud...|http://www.facebo...|http://twitter.co...|http://www.linked...|               nyse:LM|       Baltimore|  Maryland|         USA|Throughout their ...|       [Legg, Mason]|         2|
|bca6051d-bfab-c24...|        Haute Secure|organization|     company|https://www.crunc...|     hautesecure.com|http://hautesecur...|https://res.cloud...|                NULL|                NULL|                NULL|                  NULL|         Seattle|Washington|         USA|Haute Secure is a...|     [Haute, Secure]|         2|
|dfdae7fa-22ce-d20...|          Squid Labs|organization|     company|https://www.crunc...|      squid-labs.com|http://www.squid-...|https://res.cloud...|                NULL|                NULL|                NULL|                  NULL|         Alameda|California|         USA|Squid Labs was fo...|       [Squid, Labs]|         2|
|95b566c0-b31a-458...|           SAY Media|organization|     company|https://www.crunc...|        saymedia.com|http://www.saymed...|https://res.cloud...|http://www.facebo...|http://twitter.co...|http://www.linked...|                  NULL|   San Francisco|California|         USA|SAY Media is a di...|        [SAY, Media]|         2|
|993fc5a4-2e2f-7ff...|Metaweb Technologies|organization|     company|https://www.crunc...|         metaweb.com|http://www.metawe...|https://res.cloud...|                NULL|                NULL|                NULL|                  NULL|   San Francisco|California|         USA|Metaweb Technolog...|[Metaweb, Technol...|         2|
|57267573-e339-efe...|          Mode Media|organization|     company|https://www.crunc...|       corp.mode.com|http://www.corp.m...|https://res.cloud...|http://www.facebo...|http://twitter.co...|https://www.linke...|                  NULL|        Brisbane|California|         USA|Mode is a consume...|       [Mode, Media]|         2|
|309e0502-ad2f-35e...|          Linden Lab|organization|     company|https://www.crunc...|       lindenlab.com|http://www.linden...|https://res.cloud...|                NULL|http://twitter.co...|http://www.linked...|                  NULL|   San Francisco|California|         USA|Creates platforms...|       [Linden, Lab]|         2|
|e71331f1-99b4-3d2...| Broadband Mechanics|organization|     company|https://www.crunc...|broadbandmechanic...|http://www.broadb...|https://res.cloud...|                NULL|                NULL|                NULL|                  NULL|    Walnut Creek|California|         USA|Broadband Mechani...|[Broadband, Mecha...|         2|
|032eea86-255c-8c0...|       TheFind, Inc.|organization|     company|https://www.crunc...|         thefind.com|http://www.thefin...|https://res.cloud...|http://www.facebo...|http://twitter.co...|                NULL|                  NULL|   Mountain View|California|         USA|TheFind is an e-c...|    [TheFind,, Inc.]|         2|
|96227e0d-4879-94a...|          Cafe Press|organization|     company|https://www.crunc...|       cafepress.com|http://www.cafepr...|https://res.cloud...|http://www.facebo...|http://twitter.co...|http://www.linked...|           nasdaq:PRSS|      Louisville|  Colorado|         USA|CafePress runs Ca...|       [Cafe, Press]|         2|
+--------------------+--------------------+------------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------------------+----------------+----------+------------+--------------------+--------------------+----------+
only showing top 20 rows

In [12]:
df.filter(regexp_extract(col('name'), r'^\w+\s+\w+$', 0) != '')[['name', 'city', 'region', 'country_code']].show()

+--------------------+----------------+----------+------------+
|                name|            city|    region|country_code|
+--------------------+----------------+----------+------------+
|         Time Warner|        New York|  New York|         USA|
|       Goldman Sachs|        New York|  New York|         USA|
|     Jingle Networks|        New York|  New York|         USA|
|Hearst Communicat...|        New York|  New York|         USA|
|    Ning Interactive|      Menlo Park|California|         USA|
| Prosper Marketplace|   San Francisco|California|         USA|
|       Tribune Media|         Chicago|  Illinois|         USA|
| Aggregate Knowledge|       San Mateo|California|         USA|
|        Zing Systems|   Mountain View|California|         USA|
|         Amie Street|Long Island City|  New York|         USA|
|          Legg Mason|       Baltimore|  Maryland|         USA|
|        Haute Secure|         Seattle|Washington|         USA|
|          Squid Labs|         Alameda|California|         USA|
|           SAY Media|   San Francisco|California|         USA|
|Metaweb Technologies|   San Francisco|California|         USA|
|          Mode Media|        Brisbane|California|         USA|
|          Linden Lab|   San Francisco|California|         USA|
| Broadband Mechanics|    Walnut Creek|California|         USA|
|          Cafe Press|      Louisville|  Colorado|         USA|
|       Seeking Alpha|        New York|  New York|         USA|
+--------------------+----------------+----------+------------+
only showing top 20 rows

In [13]:
df.filter(regexp_extract(col('name'), r'^\w+\s+\w+$', 0) != '').count()

336766

Q2: Find all companies located in the state of California: print the count of such companies and show()only the name and location (city, region, country_code) in the resulting Spark DataFrame

In [19]:
df[df['region'] == 'California'][['name', 'city', 'region', 'country_code']].show()

+--------------------+--------------+----------+------------+
|                name|          city|    region|country_code|
+--------------------+--------------+----------+------------+
|                Zoho|    Pleasanton|California|         USA|
|            Facebook|    Menlo Park|California|         USA|
|               Accel|     Palo Alto|California|         USA|
|           Omnidrive|     Palo Alto|California|         USA|
|                Geni|West Hollywood|California|         USA|
|             Flektor|   Culver City|California|         USA|
|Fox Interactive M...| Beverly Hills|California|         USA|
|             Twitter| San Francisco|California|         USA|
|         StumbleUpon| San Francisco|California|         USA|
|              Scribd| San Francisco|California|         USA|
|             Slacker|     San Diego|California|         USA|
|                Lala|     Palo Alto|California|         USA|
|               Helio|   Los Angeles|California|         USA|
|                eBay|      San Jose|California|         USA|
|             Postini|    San Carlos|California|         USA|
|               Plaxo|     Sunnyvale|California|         USA|
|               Cisco|      San Jose|California|         USA|
|            Powerset| San Francisco|California|         USA|
|          Technorati| San Francisco|California|         USA|
|               OpenX|      Pasadena|California|         USA|
+--------------------+--------------+----------+------------+
only showing top 20 rows

In [20]:
df[df['region'] == 'California'].count()

94871

**Question 3: Add a "Blog" column to the DataFrame with the row entries set to 1 if the "domain" field contains "blogspot.com", and 0 otherwise.** <br> *show() only the name, location (city, region, country_code) and "Blog" column for companies with the "Blog" field marked as 1*

In [24]:
df = df.withColumn("Blog", when(df['domain'].like('%blogspot.com%'), 1).otherwise(0))
df[df["Blog"] == 1][['name', 'city', 'region', 'country_code', 'Blog']].show()

+--------------------+-------------+------------+------------+----+
|                name|         city|      region|country_code|Blog|
+--------------------+-------------+------------+------------+----+
|     Sad Urdu Poetry|  San Antonio|       Texas|         USA|   1|
|      The Tech-Freak|    Sheffield|   Sheffield|         GBR|   1|
|           Ma.Gnolia|San Francisco|  California|         USA|   1|
|      Dynasty Online|         NULL|        NULL|        NULL|   1|
|            Hire-seo|         NULL|        NULL|        NULL|   1|
|          YelloYello|     Rijswijk|Zuid-Holland|         NLD|   1|
|       Youtubehiphop|    São Paulo|   Sao Paulo|         BRA|   1|
|     Payday advances|         NULL|        NULL|        NULL|   1|
|Blog Traffic Exch...|   Menlo Park|  California|         USA|   1|
|Sirius Forex Trad...|         NULL|        NULL|        NULL|   1|
|          Utilsforge|     Delaware|        Ohio|         USA|   1|
|      Discover India|    Faridabad|     Haryana|         IND|   1|
|   Latest Home Decor|         NULL|        NULL|        NULL|   1|
|Sanguinet Consulting|San Francisco|  California|         USA|   1|
|  john kenneth rosel|San Francisco|  California|         USA|   1|
|Web Solution Prov...|         NULL|        NULL|        NULL|   1|
|Walking Ants Tech...|         NULL|        NULL|        NULL|   1|
|      BypassFanPages|         NULL|        NULL|        NULL|   1|
|      List Australia|    Melbourne|    Victoria|         AUS|   1|
|NeverAnEmptyGlass...|   Scottsdale|     Arizona|         USA|   1|
+--------------------+-------------+------------+------------+----+
only showing top 20 rows

In [25]:
df[df["Blog"] == 1].count()

394


Question 4: Find all companies with names that are palindromes (name reads the same way forward and reverse, e.g. madam) using Spark UDF function

In [26]:
from pyspark.sql.types import BooleanType
from pyspark.sql.functions import udf

def is_palindrome(name):
    if name is None:
        return False
    name = name.lower()
    return name == name[::-1]

palindrome_company = udf(is_palindrome, BooleanType())

In [27]:
df4 = df.filter(palindrome_company(df["name"]))

In [28]:
df4.select("name").count()

1132

In [30]:
df4[['name', 'city', 'region', 'country_code', 'Blog']].show()

+-------+--------------------+--------------------+------------+----+
|   name|                city|              region|country_code|Blog|
+-------+--------------------+--------------------+------------+----+
| Revver|         Los Angeles|          California|         USA|   0|
|  KAYAK|            Stamford|         Connecticut|         USA|   0|
|  ooVoo|            New York|            New York|         USA|   0|
|Imikimi|             Seattle|          Washington|         USA|   0|
|   Teet|        Lva Tolstogo|              Kaluga|         RUS|   0|
| Mollom|Berchem-sainte-ag...|Brussels Hoofdste...|         BEL|   0|
|  63336|              London|             England|         GBR|   0|
|  TipiT|               Delft|        Zuid-Holland|         NLD|   0|
|  beweb|            Auckland|            Auckland|         NZL|   0|
|    CSC|        Falls Church|            Virginia|         USA|   0|
|    CBC|              Ottawa|             Ontario|         CAN|   0|
|  Orbro|              Howell|            Michigan|         USA|   0|
|    OQO|       San Francisco|          California|         USA|   0|
|Revyver|                NULL|                NULL|        NULL|   0|
|    SAS|                Cary|      North Carolina|         USA|   0|
|WowOwow|            New York|            New York|         USA|   0|
|    e4e|         Santa Clara|          California|         USA|   0|
|    PHP|         Little Rock|            Arkansas|         USA|   0|
|    ivi|              Moscow|         Moscow City|         RUS|   0|
|   ADDA|           Bangalore|           Karnataka|         IND|   0|
+-------+--------------------+--------------------+------------+----+
only showing top 20 rows